/*! GLOBAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* A partir da borda */
}

header {
  background: rgb(27, 27, 27);

  padding: 0.5rem 0 1rem;
  margin-left: 10px;
  margin-right: 10px;
}

/*! HEADER */
h1#logo {
  color: white;

  font-family: "Mitr", sans-serif;
  text-align: center;
}

/*! MAIN */
h2#subtitle {
  text-align: center;
  font-weight: normal;
  font-family: "Roboto", sans-serif;

  margin-top: 2%;
}

.personagens {
  display: inline-flex;
  margin-top: 2.5rem;
  margin-left: 0.5rem;
}

a {
  color: black;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  color: brown;
}

.nomepersonagem {
  font-size: large;
  word-spacing: 12.5rem;

  margin-top: 10px;
  margin-left: 7.5%;

  font-family: "Roboto", sans-serif;
}

/*! FOOTER */
footer{
  margin-top: 151px;
  text-align: center;

  margin-left: 10px;
  margin-right: 10px;

  border: 1px solid black;
}