/*! GLOBAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* A partir da borda */
}

header {
  background: rgb(27, 27, 27);
  border-radius: 0.5rem;

  padding: 0.5rem 0 1rem;
  margin-top: -10px;
  margin-left: 10px;
  margin-right: 10px;
}

/*! HEADER */
h1#logo {
  color: white;

  font-family: "Mitr", sans-serif;
  text-align: center;
}

/*! MAIN */
h2#subtitle {
  text-align: center;
  font-weight: bold;
  font-family: "Roboto", sans-serif;

  margin-top: 3%;
}

.personagens {
  display: inline-flex;


  margin-top: 50px;
  margin-left: 1.4rem;
}

a {
  color: black;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  color: brown;
}

.nomepersonagem {
  display: inline-flexbox;
  font-size: large;
  word-spacing: 12.5rem;

  margin-left: 7.5%;

  font-family: "Roboto", sans-serif;
}

/*! FOOTER */
footer {
  margin-top: 119px;
  text-align: center;

  margin-left: 10px;
  margin-right: 10px;

  border-radius: 10px;
}

footer .icons {
  display: inline;

}
