/*! GLOBAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* A partir da borda */
}
body {
  background: #f0f2f5;
}
header {
  background: rgb(27, 27, 27);

  padding: 2rem 0 2rem;
  margin-left: 10px;
  margin-right: 10px;
}

/*! HEADER */
h1#logo {
  color: white;
  text-align: center;
}

/*! MAIN */

/*! FOOTER */
