/*! GLOBAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* A partir da borda */
}

body {
  background: #f0f2f5;
}

header {
  background: rgb(27, 27, 27);

  padding: 2rem 0 2rem;
  margin-left: 10px;
  margin-right: 10px;
}

/*! HEADER */
h1#logo {
  color: white;

  font-family: "Mitr", sans-serif;
  text-align: center;
}

/*! MAIN */
h2#subtitle {
  text-align: center;
  font-weight: normal;
  font-family: "Roboto", sans-serif;

  margin-top: 5%;
}

.personagens {
  display: inline;
  margin-left: 0.5rem;
}

.nomepersonagem {
  font-size: large;
  word-spacing: 12.5rem;

  margin-top: 10px;
  margin-left: 9%;
}

/*! FOOTER */
